# PHASE - 1

::: Baseball Case Study :::

In [483]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
from sklearn.preprocessing import LabelEncoder
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error , accuracy_score
import warnings
warnings.filterwarnings('ignore')

In [484]:
df_hr=pd.read_csv('phase1/WA_Fn-UseC_-HR-Employee-Attrition.csv')
df_avacado=pd.read_csv('phase1/avocado.csv')
df_baseball=pd.read_csv('phase1/baseball.csv')

START BASEBALL MODEL

In [485]:
df_baseball

,W,R,AB,H,2B,3B,HR,BB,SO,SB,RA,ER,ERA,CG,SHO,SV,E
0,95,724,5575,1497,300,42,139,383,973,104,641,601,3.73,2,8,56,88
1,83,696,5467,1349,277,44,156,439,1264,70,700,653,4.07,2,12,45,86
2,81,669,5439,1395,303,29,141,533,1157,86,640,584,3.67,11,10,38,79
3,76,622,5533,1381,260,27,136,404,1231,68,701,643,3.98,7,9,37,101
4,74,689,5605,1515,289,49,151,455,1259,83,803,746,4.64,7,12,35,86
5,93,891,5509,1480,308,17,232,570,1151,88,670,609,3.80,7,10,34,88
6,87,764,5567,1397,272,19,212,554,1227,63,698,652,4.03,3,4,48,93
7,81,713,5485,1370,246,20,217,418,1331,44,693,646,4.05,0,10,43,77
8,80,644,5485,1383,278,32,167,436,1310,87,642,604,3.74,1,12,60,95
9,78,748,5640,1495,294,33,161,478,1148,71,753,694,4.31,3,10,40,97
10,88,751,5511,1419,279,32,172,503,1233,101,733,680,4.24,5,9,45,119
11,86,729,5459,1363,278,26,230,486,1392,121,618,572,3.57,5,13,39,85
12,85,661,5417,1331,243,21,176,435,1150,52,675,630,3.94,2,12,46,93
13,76,656,5544,1379,262,22,198,478,1336,69,726,677,4.16,6,12,45,94
14,68,694,5600,1405,277,46,146,475,1119,78,729,664,4.14,5,15,28,126
15,100,647,5484,1386,288,39,137,506,1267,69,525,478,2.94,1,15,62,96
16,98,697,5631,1462,292,27,140,461,1322,98,596,532,3.21,0,13,54,122
17,97,689,5491,1341,272,30,171,567,1518,95,608,546,3.36,6,21,48,111
18,68,655,5480,1378,274,34,145,412,1299,84,737,682,4.28,1,7,40,116
19,64,640,5571,1382,257,27,167,496,1255,134,754,700,4.33,2,8,35,90
20,90,683,5527,1351,295,17,177,488,1290,51,613,557,3.43,1,14,50,88
21,83,703,5428,1363,265,13,177,539,1344,57,635,577,3.62,4,13,41,90
22,71,613,5463,1420,236,40,120,375,1150,112,678,638,4.02,0,12,35,77
23,67,573,5420,1361,251,18,100,471,1107,69,760,698,4.41,3,10,44,90
24,63,626,5529,1374,272,37,130,387,1274,88,809,749,4.69,1,7,35,117
25,92,667,5385,1346,263,26,187,563,1258,59,595,553,3.44,6,21,47,75
26,84,696,5565,1486,288,39,136,457,1159,93,627,597,3.72,7,18,41,78
27,79,720,5649,1494,289,48,154,490,1312,132,713,659,4.04,1,12,44,86
28,74,650,5457,1324,260,36,148,426,1327,82,731,655,4.09,1,6,41,92
29,68,737,5572,1479,274,49,186,388,1283,97,844,799,5.04,4,4,36,95

In [486]:
df_baseball.isnull().sum()

W      0
R      0
AB     0
H      0
2B     0
3B     0
HR     0
BB     0
SO     0
SB     0
RA     0
ER     0
ERA    0
CG     0
SHO    0
SV     0
E      0
dtype: int64

As there is no null values we are good to Build our Model

In [487]:
X = df_baseball.drop(columns=['W'])  # Features
y = df_baseball['W']  # Target variable

In [488]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [489]:
linear_regressor = LinearRegression()  # Initialize Linear Regression model
linear_regressor.fit(X_train, y_train)  # Train the model

LinearRegression()

In [490]:
y_pred = linear_regressor.predict(X_test)

In [491]:
mse = mean_squared_error(y_test, y_pred)
print("Mean Squared Error:", mse)

Mean Squared Error: 27.94303250666688

END BASEBALL MODEL

START HR MODEL

In [492]:
df_hr

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1465,36,No,Travel_Frequently,884,Research & Development,23,2,Medical,1,2061,...,3,80,1,17,3,3,5,2,0,3
1466,39,No,Travel_Rarely,613,Research & Development,6,1,Medical,1,2062,...,1,80,1,9,5,3,7,7,1,7
1467,27,No,Travel_Rarely,155,Research & Development,4,3,Life Sciences,1,2064,...,2,80,1,6,0,3,6,2,0,3
1468,49,No,Travel_Frequently,1023,Sales,2,3,Medical,1,2065,...,4,80,0,17,3,2,9,6,0,8
1469,34,No,Travel_Rarely,628,Research & Development,8,3,Medical,1,2068,...,1,80,0,6,3,4,4,3,1,2

In [493]:
df_hr.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 35 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Age                       1470 non-null   int64
 1   Attrition                 1470 non-null   object
 2   BusinessTravel            1470 non-null   object
 3   DailyRate                 1470 non-null   int64
 4   Department                1470 non-null   object
 5   DistanceFromHome          1470 non-null   int64
 6   Education                 1470 non-null   int64
 7   EducationField            1470 non-null   object
 8   EmployeeCount             1470 non-null   int64
 9   EmployeeNumber            1470 non-null   int64
 10  EnvironmentSatisfaction   1470 non-null   int64
 11  Gender                    1470 non-null   object
 12  HourlyRate                1470 non-null   int64
 13  JobInvolvement            1470 non-null   int64
 14  JobLevel                  1470 non-null   int64
 15  JobRole                   1470 non-null   object
 16  JobSatisfaction           1470 non-null   int64
 17  MaritalStatus             1470 non-null   object
 18  MonthlyIncome             1470 non-null   int64
 19  MonthlyRate               1470 non-null   int64
 20  NumCompaniesWorked        1470 non-null   int64
 21  Over18                    1470 non-null   object
 22  OverTime                  1470 non-null   object
 23  PercentSalaryHike         1470 non-null   int64
 24  PerformanceRating         1470 non-null   int64
 25  RelationshipSatisfaction  1470 non-null   int64
 26  StandardHours             1470 non-null   int64
 27  StockOptionLevel          1470 non-null   int64
 28  TotalWorkingYears         1470 non-null   int64
 29  TrainingTimesLastYear     1470 non-null   int64
 30  WorkLifeBalance           1470 non-null   int64
 31  YearsAtCompany            1470 non-null   int64
 32  YearsInCurrentRole        1470 non-null   int64
 33  YearsSinceLastPromotion   1470 non-null   int64
 34  YearsWithCurrManager      1470 non-null   int64
dtypes: int64(26), object(9)
memory usage: 402.1+ KB

In [494]:
df_hr.isnull().sum()

Age                         0
Attrition                   0
BusinessTravel              0
DailyRate                   0
Department                  0
DistanceFromHome            0
Education                   0
EducationField              0
EmployeeCount               0
EmployeeNumber              0
EnvironmentSatisfaction     0
Gender                      0
HourlyRate                  0
JobInvolvement              0
JobLevel                    0
JobRole                     0
JobSatisfaction             0
MaritalStatus               0
MonthlyIncome               0
MonthlyRate                 0
NumCompaniesWorked          0
Over18                      0
OverTime                    0
PercentSalaryHike           0
PerformanceRating           0
RelationshipSatisfaction    0
StandardHours               0
StockOptionLevel            0
TotalWorkingYears           0
TrainingTimesLastYear       0
WorkLifeBalance             0
YearsAtCompany              0
YearsInCurrentRole          0
YearsSinceLastPromotion     0
YearsWithCurrManager        0
dtype: int64

In [495]:
df_hr.describe()

,Age,DailyRate,DistanceFromHome,Education,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobLevel,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
count,1470.000000,1470.000000,1470.000000,1470.000000,1470.0,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,...,1470.000000,1470.0,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000
mean,36.923810,802.485714,9.192517,2.912925,1.0,1024.865306,2.721769,65.891156,2.729932,2.063946,...,2.712245,80.0,0.793878,11.279592,2.799320,2.761224,7.008163,4.229252,2.187755,4.123129
std,9.135373,403.509100,8.106864,1.024165,0.0,602.024335,1.093082,20.329428,0.711561,1.106940,...,1.081209,0.0,0.852077,7.780782,1.289271,0.706476,6.126525,3.623137,3.222430,3.568136
min,18.000000,102.000000,1.000000,1.000000,1.0,1.000000,1.000000,30.000000,1.000000,1.000000,...,1.000000,80.0,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000
25%,30.000000,465.000000,2.000000,2.000000,1.0,491.250000,2.000000,48.000000,2.000000,1.000000,...,2.000000,80.0,0.000000,6.000000,2.000000,2.000000,3.000000,2.000000,0.000000,2.000000
50%,36.000000,802.000000,7.000000,3.000000,1.0,1020.500000,3.000000,66.000000,3.000000,2.000000,...,3.000000,80.0,1.000000,10.000000,3.000000,3.000000,5.000000,3.000000,1.000000,3.000000
75%,43.000000,1157.000000,14.000000,4.000000,1.0,1555.750000,4.000000,83.750000,3.000000,3.000000,...,4.000000,80.0,1.000000,15.000000,3.000000,3.000000,9.000000,7.000000,3.000000,7.000000
max,60.000000,1499.000000,29.000000,5.000000,1.0,2068.000000,4.000000,100.000000,4.000000,5.000000,...,4.000000,80.0,3.000000,40.000000,6.000000,4.000000,40.000000,18.000000,15.000000,17.000000

In [496]:
coder = LabelEncoder()

In [497]:
categorical_columns = ['Attrition', 'BusinessTravel', 'Department', 'EducationField', 'Gender', 'JobRole', 'MaritalStatus', 'Over18', 'OverTime']
for column in categorical_columns:
    df_hr[column] = coder.fit_transform(df_hr[column])

print('Encoding completed for categorical variables.')

Encoding completed for categorical variables.

In [498]:
df_hr

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,1,2,1102,2,1,2,1,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,0,1,279,1,8,1,1,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,1,2,1373,1,2,2,4,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,0,1,1392,1,3,4,1,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,0,2,591,1,2,1,3,1,7,...,4,80,1,6,3,3,2,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1465,36,0,1,884,1,23,2,3,1,2061,...,3,80,1,17,3,3,5,2,0,3
1466,39,0,2,613,1,6,1,3,1,2062,...,1,80,1,9,5,3,7,7,1,7
1467,27,0,2,155,1,4,3,1,1,2064,...,2,80,1,6,0,3,6,2,0,3
1468,49,0,1,1023,2,2,3,3,1,2065,...,4,80,0,17,3,2,9,6,0,8
1469,34,0,2,628,1,8,3,3,1,2068,...,1,80,0,6,3,4,4,3,1,2

In [499]:
train_df, test_df = train_test_split(df_hr, test_size=0.2, random_state=42, stratify=df_hr['Attrition'])
print('Training set size:', train_df.shape)
print('Testing set size:', test_df.shape)

Training set size: (1176, 35)
Testing set size: (294, 35)

In [500]:
from sklearn.linear_model import LogisticRegression

In [501]:
log_reg = LogisticRegression(random_state=42)

In [502]:
log_reg.fit(train_df.drop('Attrition', axis=1), train_df['Attrition'])

LogisticRegression(random_state=42)

In [503]:
log_reg_preds = log_reg.predict(test_df.drop('Attrition', axis=1))

In [504]:
log_reg_accuracy = accuracy_score(test_df['Attrition'], log_reg_preds)

In [505]:
print('Logistic Regression Accuracy:', log_reg_accuracy)

Logistic Regression Accuracy: 0.8469387755102041

END HR MODEL

START AVACADO MODEL

In [506]:
df_avacado

,Unnamed: 0,Date,AveragePrice,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags,type,year,region
0,0,2015-12-27,1.33,64236.62,1036.74,54454.85,48.16,8696.87,8603.62,93.25,0.0,conventional,2015,Albany
1,1,2015-12-20,1.35,54876.98,674.28,44638.81,58.33,9505.56,9408.07,97.49,0.0,conventional,2015,Albany
2,2,2015-12-13,0.93,118220.22,794.70,109149.67,130.50,8145.35,8042.21,103.14,0.0,conventional,2015,Albany
3,3,2015-12-06,1.08,78992.15,1132.00,71976.41,72.58,5811.16,5677.40,133.76,0.0,conventional,2015,Albany
4,4,2015-11-29,1.28,51039.60,941.48,43838.39,75.78,6183.95,5986.26,197.69,0.0,conventional,2015,Albany
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18244,7,2018-02-04,1.63,17074.83,2046.96,1529.20,0.00,13498.67,13066.82,431.85,0.0,organic,2018,WestTexNewMexico
18245,8,2018-01-28,1.71,13888.04,1191.70,3431.50,0.00,9264.84,8940.04,324.80,0.0,organic,2018,WestTexNewMexico
18246,9,2018-01-21,1.87,13766.76,1191.92,2452.79,727.94,9394.11,9351.80,42.31,0.0,organic,2018,WestTexNewMexico
18247,10,2018-01-14,1.93,16205.22,1527.63,2981.04,727.01,10969.54,10919.54,50.00,0.0,organic,2018,WestTexNewMexico
18248,11,2018-01-07,1.62,17489.58,2894.77,2356.13,224.53,12014.15,11988.14,26.01,0.0,organic,2018,WestTexNewMexico

In [507]:
df_avacado

,Unnamed: 0,Date,AveragePrice,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags,type,year,region
0,0,2015-12-27,1.33,64236.62,1036.74,54454.85,48.16,8696.87,8603.62,93.25,0.0,conventional,2015,Albany
1,1,2015-12-20,1.35,54876.98,674.28,44638.81,58.33,9505.56,9408.07,97.49,0.0,conventional,2015,Albany
2,2,2015-12-13,0.93,118220.22,794.70,109149.67,130.50,8145.35,8042.21,103.14,0.0,conventional,2015,Albany
3,3,2015-12-06,1.08,78992.15,1132.00,71976.41,72.58,5811.16,5677.40,133.76,0.0,conventional,2015,Albany
4,4,2015-11-29,1.28,51039.60,941.48,43838.39,75.78,6183.95,5986.26,197.69,0.0,conventional,2015,Albany
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18244,7,2018-02-04,1.63,17074.83,2046.96,1529.20,0.00,13498.67,13066.82,431.85,0.0,organic,2018,WestTexNewMexico
18245,8,2018-01-28,1.71,13888.04,1191.70,3431.50,0.00,9264.84,8940.04,324.80,0.0,organic,2018,WestTexNewMexico
18246,9,2018-01-21,1.87,13766.76,1191.92,2452.79,727.94,9394.11,9351.80,42.31,0.0,organic,2018,WestTexNewMexico
18247,10,2018-01-14,1.93,16205.22,1527.63,2981.04,727.01,10969.54,10919.54,50.00,0.0,organic,2018,WestTexNewMexico
18248,11,2018-01-07,1.62,17489.58,2894.77,2356.13,224.53,12014.15,11988.14,26.01,0.0,organic,2018,WestTexNewMexico

In [508]:
df_avacado.drop(columns=['Total Bags','Small Bags','Large Bags','XLarge Bags'],inplace=True)

In [509]:
df_avacado.isnull().sum()

Unnamed: 0      0
Date            0
AveragePrice    0
Total Volume    0
4046            0
4225            0
4770            0
type            0
year            0
region          0
dtype: int64

In [510]:
df_avacado.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18249 entries, 0 to 18248
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    18249 non-null  int64
 1   Date          18249 non-null  object
 2   AveragePrice  18249 non-null  float64
 3   Total Volume  18249 non-null  float64
 4   4046          18249 non-null  float64
 5   4225          18249 non-null  float64
 6   4770          18249 non-null  float64
 7   type          18249 non-null  object
 8   year          18249 non-null  int64
 9   region        18249 non-null  object
dtypes: float64(5), int64(2), object(3)
memory usage: 1.4+ MB

In [511]:
df_avacado['Date']=pd.to_datetime(df_avacado['Date'])

In [512]:
df_avacado['Date']=df_avacado['Date'].astype('int64')

In [513]:
df_avacado

,Unnamed: 0,Date,AveragePrice,Total Volume,4046,4225,4770,type,year,region
0,0,1451174400000000000,1.33,64236.62,1036.74,54454.85,48.16,conventional,2015,Albany
1,1,1450569600000000000,1.35,54876.98,674.28,44638.81,58.33,conventional,2015,Albany
2,2,1449964800000000000,0.93,118220.22,794.70,109149.67,130.50,conventional,2015,Albany
3,3,1449360000000000000,1.08,78992.15,1132.00,71976.41,72.58,conventional,2015,Albany
4,4,1448755200000000000,1.28,51039.60,941.48,43838.39,75.78,conventional,2015,Albany
...,...,...,...,...,...,...,...,...,...,...
18244,7,1517702400000000000,1.63,17074.83,2046.96,1529.20,0.00,organic,2018,WestTexNewMexico
18245,8,1517097600000000000,1.71,13888.04,1191.70,3431.50,0.00,organic,2018,WestTexNewMexico
18246,9,1516492800000000000,1.87,13766.76,1191.92,2452.79,727.94,organic,2018,WestTexNewMexico
18247,10,1515888000000000000,1.93,16205.22,1527.63,2981.04,727.01,organic,2018,WestTexNewMexico
18248,11,1515283200000000000,1.62,17489.58,2894.77,2356.13,224.53,organic,2018,WestTexNewMexico

In [514]:
df_avacado.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18249 entries, 0 to 18248
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    18249 non-null  int64
 1   Date          18249 non-null  int64
 2   AveragePrice  18249 non-null  float64
 3   Total Volume  18249 non-null  float64
 4   4046          18249 non-null  float64
 5   4225          18249 non-null  float64
 6   4770          18249 non-null  float64
 7   type          18249 non-null  object
 8   year          18249 non-null  int64
 9   region        18249 non-null  object
dtypes: float64(5), int64(3), object(2)
memory usage: 1.4+ MB

Model Preparation start

Region

In [515]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import OneHotEncoder

In [516]:
df_avacado.drop(columns=['Date'],inplace=True)

In [517]:
X = df_avacado.drop(columns=['region'])  # Features
y_region = df_avacado['region']  # Target variable for classification

In [518]:
label_encoder = LabelEncoder()
df_avacado['region'] = label_encoder.fit_transform(df_avacado['region'])
df_avacado['type'] = label_encoder.fit_transform(df_avacado['type'])

In [519]:
df_avacado

,Unnamed: 0,AveragePrice,Total Volume,4046,4225,4770,type,year,region
0,0,1.33,64236.62,1036.74,54454.85,48.16,0,2015,0
1,1,1.35,54876.98,674.28,44638.81,58.33,0,2015,0
2,2,0.93,118220.22,794.70,109149.67,130.50,0,2015,0
3,3,1.08,78992.15,1132.00,71976.41,72.58,0,2015,0
4,4,1.28,51039.60,941.48,43838.39,75.78,0,2015,0
...,...,...,...,...,...,...,...,...,...
18244,7,1.63,17074.83,2046.96,1529.20,0.00,1,2018,53
18245,8,1.71,13888.04,1191.70,3431.50,0.00,1,2018,53
18246,9,1.87,13766.76,1191.92,2452.79,727.94,1,2018,53
18247,10,1.93,16205.22,1527.63,2981.04,727.01,1,2018,53
18248,11,1.62,17489.58,2894.77,2356.13,224.53,1,2018,53

In [520]:
df_avacado['type']

0        0
1        0
2        0
3        0
4        0
        ..
18244    1
18245    1
18246    1
18247    1
18248    1
Name: type, Length: 18249, dtype: int32

In [521]:
# Convert categorical variables to one-hot encoded representation
categorical_columns = X.select_dtypes(include=['object']).columns
if len(categorical_columns) > 0:
    encoder = OneHotEncoder(drop='first', sparse=False)
    X_encoded = encoder.fit_transform(X[categorical_columns])
    X_encoded = pd.DataFrame(X_encoded, columns=encoder.get_feature_names_out(categorical_columns))
    X = X.drop(columns=categorical_columns)
    X = pd.concat([X, X_encoded], axis=1)

In [522]:
X_train, X_test, y_train_region, y_test_region = train_test_split(X, y_region, test_size=0.2, random_state=42)

In [523]:
rf_classifier = RandomForestClassifier(n_estimators=100, random_state=42)  # Initialize Random Forest classifier
rf_classifier.fit(X_train, y_train_region)  # Train the classifier

RandomForestClassifier(random_state=42)

In [524]:
# Make predictions on the test set
y_pred_region = rf_classifier.predict(X_test)

In [525]:
accuracy = accuracy_score(y_test_region, y_pred_region)
print("Accuracy:", accuracy)

Accuracy: 0.8709589041095891

Average Price

In [526]:
y_price = df_avacado['AveragePrice']

In [527]:
X_train, X_test, y_train_price, y_test_price = train_test_split(X, y_price, test_size=0.2, random_state=42)

In [528]:
linear_regressor = LinearRegression()  # Initialize Linear Regression model
linear_regressor.fit(X_train, y_train_price)  # Train the model

LinearRegression()

In [529]:
y_pred_price = linear_regressor.predict(X_test)

In [530]:
mse = mean_squared_error(y_test_price, y_pred_price)
print("Mean Squared Error:", mse)

Mean Squared Error: 4.545532089472042e-19

Model Preparation end

END AVACADO MODEL