# :: Assignment_4_Selenium ::

In [1]:
import pandas as pd
import selenium
from selenium import webdriver
from selenium.webdriver.common.by import By
import time

from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.common.exceptions import NoSuchElementException
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.action_chains import ActionChains

QUESTION - 1

In [91]:
driver =  webdriver.Chrome()
driver.get('https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos')
driver.maximize_window()

In [92]:
trElement = driver.find_elements(By.XPATH,'//table[@class="sortable wikitable sticky-header static-row-numbers col3center col4right jquery-tablesorter"]/tbody/tr')
uploaderElement = driver.find_elements(By.XPATH,'//table[@class="sortable wikitable sticky-header static-row-numbers col3center col4right jquery-tablesorter"]/tbody/tr/td[2]')
viewElement = driver.find_elements(By.XPATH,'//table[@class="sortable wikitable sticky-header static-row-numbers col3center col4right jquery-tablesorter"]/tbody/tr/td[3]')
timeElement = driver.find_elements(By.XPATH,'//table[@class="sortable wikitable sticky-header static-row-numbers col3center col4right jquery-tablesorter"]/tbody/tr/td[4]')
# print(trElement)

In [93]:
videoNameList=[]
uploaderNameList=[]
viewList=[]
timeList=[]

In [94]:
for t in trElement:
    TD = t.find_element(By.TAG_NAME,'td')
    videoNameList.append(TD.text[1:-5])

for uploadName in uploaderElement:
    uploaderNameList.append(uploadName.text)

for view in viewElement:
    viewList.append(view.text)

for timet in timeElement:
    timeList.append(timet.text)
# print(videoNameList)

In [95]:
data={
    "video name":videoNameList,
    "uploader name":uploaderNameList,
    "view":viewList,
    "time":timeList
}

youtube_df = pd.DataFrame(data=data)
youtube_df

,video name,uploader name,view,time
0,Baby Shark Danc,Pinkfong Baby Shark - Kids' Songs & Stories,14.09,"June 17, 2016"
1,Despacit,Luis Fonsi,8.38,"January 12, 2017"
2,Johny Johny Yes Papa,LooLoo Kids - Nursery Rhymes and Children's Songs,6.87,"October 8, 2016"
3,Bath Song,Cocomelon - Nursery Rhymes,6.62,"May 2, 2018"
4,Shape of You,Ed Sheeran,6.20,"January 30, 2017"
5,See You Again,Wiz Khalifa,6.17,"April 6, 2015"
6,Wheels on the Bus,Cocomelon - Nursery Rhymes,5.88,"May 24, 2018"
7,Phonics Song with Two Words,ChuChu TV Nursery Rhymes & Kids Songs,5.70,"March 6, 2014"
8,Uptown Funk,Mark Ronson,5.15,"November 19, 2014"
9,Learning Colors – Colorful Eggs on a Farm,Miroshka TV,5.07,"February 27, 2018"
10,Gangnam Style,Psy,5.05,"July 15, 2012"
11,Masha and the Bear – Recipe for Disaster,Get Movies,4.58,"January 31, 2012"
12,Dame Tu Cosita,Ultra Records,4.55,"April 5, 2018"
13,Axel F,Crazy Frog,4.34,"June 16, 2009"
14,Sugar,Maroon 5,4.00,"January 14, 2015"
15,Counting Stars,OneRepublic,3.97,"May 31, 2013"
16,Baa Baa Black Sheep,Cocomelon - Nursery Rhymes,3.96,"June 25, 2018"
17,Roar,Katy Perry,3.96,"September 5, 2013"
18,Lakdi Ki Kathi,Jingle Toons,3.91,"June 14, 2018"
19,Waka Waka (This Time for Africa),Shakira,3.85,"June 4, 2010"
20,Sorry,Justin Bieber,3.77,"October 22, 2015"
21,Thinking Out Loud,Ed Sheeran,3.73,"October 7, 2014"
22,Humpty the train on a fruits ride,Kiddiestv Hindi - Nursery Rhymes & Kids Songs,3.73,"January 26, 2018"
23,Shree Hanuman Chalisa,T-Series Bhakti Sagar,3.69,"May 10, 2011"
24,Dark Horse,Katy Perry,3.67,"February 20, 2014"
25,Perfect,Ed Sheeran,3.67,"November 9, 2017"
26,Let Her Go,Passenger,3.61,"July 25, 2012"
27,Faded,Alan Walker,3.59,"December 3, 2015"
28,Girls Like You,Maroon 5,3.56,"May 31, 2018"
29,Lean On,Major Lazer Official,3.55,"March 22, 2015"

QUESTION - 2

In [83]:
driver=webdriver.Chrome()
driver.get('https://www.bcci.tv/')

fixture_url = driver.find_element(By.XPATH,'/html/body/header/div[3]/div[2]/ul/div[1]/a[2]').click()

In [84]:
seriesElement = driver.find_elements(By.XPATH,'//div[@class="fixture-tab-inner row"]/div/div/div[1]/div/div/h5')
venueElement = driver.find_elements(By.XPATH,'//div[@class="fixture-tab-inner row"]/div/div/div[2]/div[1]')
teamOne = driver.find_elements(By.XPATH,'//div[@class="fixture-tab-inner row"]/div/div/div[2]/div[2]/div[1]/div[1]/div[1]/div[2]')
teamTwo = driver.find_elements(By.XPATH,'//div[@class="fixture-tab-inner row"]/div/div/div[2]/div[2]/div/div[3]/div/div[2]')
dateElement = driver.find_elements(By.XPATH,'//div[@class="fixture-tab-inner row"]/div/div/div[1]/div/div/div[2]/div[1]')
timeElement = driver.find_elements(By.XPATH,'//div[@class="fixture-tab-inner row"]/div/div/div[1]/div/div/div[2]/div[2]')

In [85]:
print(len(venueElement))

7

In [86]:
seriesList = []
venueList = []
teamOneList = []
teamTwoList = []
dateList = []
timeList = []

In [87]:
for series in seriesElement:
    seriesList.append(series.text)

for venue in venueElement:
    venueList.append(venue.text)

for tOne in teamOne:
    teamOneList.append(tOne.text)
    
for tTwo in teamTwo:
    teamTwoList.append(tTwo.text)
    
for date in dateElement:
    dateList.append(date.text)
    
for timeT in timeElement:
    timeList.append(timeT.text)

In [88]:
print("Length of each List :: ")
print()

print(len(seriesList),len(venueList),len(teamOneList),len(teamTwoList),len(dateList),len(timeList))

Length of each List ::

7 7 7 7 7 7

In [89]:
data = {
    'series name':seriesList,
    'date':dateList,
    'time':timeList,
    'team 1st':teamOneList,
    'team 2nd':teamTwoList,
    'venue / place':venueList
}

fixturesDataFrame = pd.DataFrame(data=data)
fixturesDataFrame

,series name,date,time,team 1st,team 2nd,venue / place
0,ENGLAND TOUR OF INDIA 2023-24,"23 FEBRUARY, 2024",9:30 AM IST,India,England,"JSCA International Stadium Complex, Ranchi"
1,ENGLAND TOUR OF INDIA 2023-24,"7 MARCH, 2024",9:30 AM IST,India,England,"Himachal Pradesh Cricket Association Stadium, ..."
2,INDIA TOUR OF ZIMBABWE 2024,"6 JULY, 2024",8:00 PM IST,Zimbabwe,India,"Harare Sports Club, Harare"
3,INDIA TOUR OF ZIMBABWE 2024,"7 JULY, 2024",8:00 PM IST,Zimbabwe,India,"Harare Sports Club, Harare"
4,INDIA TOUR OF ZIMBABWE 2024,"10 JULY, 2024",8:00 PM IST,Zimbabwe,India,"Harare Sports Club, Harare"
5,INDIA TOUR OF ZIMBABWE 2024,"13 JULY, 2024",8:00 PM IST,Zimbabwe,India,"Harare Sports Club, Harare"
6,INDIA TOUR OF ZIMBABWE 2024,"14 JULY, 2024",8:00 PM IST,Zimbabwe,India,"Harare Sports Club, Harare"

In [31]:
fixturesDataFrame.to_excel('assignment_4_q_2.xlsx', index=False)
fixturesDataFrame.to_csv('assignment_4_q_2.csv', index=False)

QUESTION - 3

In [32]:
driver = webdriver.Chrome()
driver.get('https://www.statisticstimes.com/')

In [36]:
economyBtn = driver.find_element(By.XPATH,'/html/body/div[2]/div[1]/div[2]/div[2]')
a = ActionChains(driver)
a.move_to_element(economyBtn).perform()
indiaEconomyBtn = driver.find_element(By.XPATH,'/html/body/div[2]/div[1]/div[2]/div[2]/div/a[3]').click()

In [37]:
indianGDP = driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div[2]/ul/li[1]/a').click()

In [39]:
rankElement = driver.find_elements(By.XPATH,'//div[@id="table_id_wrapper"]/table/tbody/tr/td[1]')
stateElement = driver.find_elements(By.XPATH,'//div[@id="table_id_wrapper"]/table/tbody/tr/td[2]')
lastYearElement = driver.find_elements(By.XPATH,'//div[@id="table_id_wrapper"]/table/tbody/tr/td[3]')
lastSecondYearElement = driver.find_elements(By.XPATH,'//div[@id="table_id_wrapper"]/table/tbody/tr/td[4]')
shareElement = driver.find_elements(By.XPATH,'//div[@id="table_id_wrapper"]/table/tbody/tr/td[5]')
gdpElement = driver.find_elements(By.XPATH,'//div[@id="table_id_wrapper"]/table/tbody/tr/td[6]')


print(len(rankElement),len(stateElement),len(lastYearElement),len(lastSecondYearElement),len(shareElement),len(gdpElement))

33 33 33 33 33 33

In [40]:
rankList = []
stateList = []
lastYearList = []
lastSecondYearList = []
shareList = []
gdpList = []

In [41]:
for rank in rankElement:
    rankList.append(rank.text)

for state in stateElement:
    stateList.append(state.text)

for first in lastYearElement:
    lastYearList.append(first.text)

for second in lastSecondYearElement:
    lastSecondYearList.append(second.text)

for share in shareElement:
    shareList.append(share.text)

for gdp in gdpElement:
    gdpList.append(gdp.text)

In [50]:
data = {
    'Rank':rankList,
    'State':stateList,
    'Last Year':lastYearList,
    'Last Second Year':lastSecondYearList,
    'Share':shareList,
    'GDP':gdpList
}

gdpDf=pd.DataFrame(data=data)
print(gdpDf.to_string(index=False))

Rank                     State Last Year Last Second Year  Share     GDP
   1               Maharashtra         -        3,108,022 13.24% 417.163
   2                Tamil Nadu 2,364,514        2,071,286  8.82% 278.011
   3             Uttar Pradesh 2,257,575        1,974,532  8.41% 265.024
   4                 Karnataka 2,241,368        1,962,725  8.36% 263.440
   5                   Gujarat         -        1,937,066  8.25% 259.996
   6               West Bengal 1,554,992        1,363,926  5.81% 183.068
   7                 Rajasthan 1,413,620        1,218,193  5.19% 163.507
   8            Madhya Pradesh 1,322,821        1,136,137  4.84% 152.494
   9            Andhra Pradesh 1,317,728        1,133,837  4.83% 152.185
  10                 Telangana 1,313,391        1,128,907  4.81% 151.523
  11                    Kerala         -          932,470  3.97% 125.157
  12                     Delhi 1,043,759          904,642  3.85% 121.422
  13                   Haryana   994,154          870,665  3.71% 116.862
  14                    Odisha   774,869          670,881  2.86%  90.047
  15                     Bihar   751,396          650,302  2.77%  87.284
  16                    Punjab   673,107          614,227  2.62%  82.442
  17                     Assam   493,167          412,612  1.76%  55.381
  18              Chhattisgarh   457,608          406,416  1.73%  54.550
  19                 Jharkhand   393,722          358,863  1.53%  48.167
  20               Uttarakhand   302,621          272,159  1.16%  36.530
  21        Jammu & Kashmir-UT   227,927          199,917  0.85%  26.833
  22          Himachal Pradesh   195,405          176,269  0.75%  23.659
  23                       Goa         -           82,604  0.35%  11.087
  24                   Tripura    72,636           62,550  0.27%   8.396
  25                Chandigarh         -           45,635  0.19%   6.125
  26                Puducherry         -           44,238  0.19%   5.938
  27                 Meghalaya    42,697           38,785  0.17%   5.206
  28                    Sikkim    42,756           37,557  0.16%   5.041
  29                   Manipur         -           36,594  0.16%   4.912
  30         Arunachal Pradesh         -           35,124  0.15%   4.714
  31                  Nagaland         -           31,913  0.14%   4.283
  32                   Mizoram         -           27,824  0.12%   3.735
  33 Andaman & Nicobar Islands         -           10,371  0.04%   1.392

QUESTION - 4

In [46]:
driver=webdriver.Chrome()
driver.maximize_window()
driver.get('https://github.com/')

In [47]:
gitHubLiElement = driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]')
a=ActionChains(driver)
a.move_to_element(gitHubLiElement).perform()
trendingAnchor = driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/div/div[3]/ul/li[2]/a').click()

In [48]:
repoTitleEle = driver.find_elements(By.XPATH,'//div[@class="Box"]/div[2]/article/h2/a')
# anchorRepoTitleEle = driver.find_elements(By.XPATH,'//div[@class="Box"]/div[2]/article/h2/a')
langElement = driver.find_elements(By.XPATH,'//div[@class="Box"]/div[2]/article/div[2]/span/span[2]')
descElement = driver.find_elements(By.XPATH,'//div[@class="Box"]/div[2]/article/p')

In [49]:
anchorList = []
titleList = []
descList = []
contributerList = []
LanguageList = []
countElementList = []

In [50]:
for anchor in repoTitleEle:
    anchorList.append(anchor.get_attribute('href'))
    titleList.append(anchor.text)
    
for desc in descElement:
    descList.append(desc.text)

for lang in langElement:
    LanguageList.append(lang.text)

In [90]:
print(len(anchorList))

25

In [91]:
countList = []

In [92]:
for url in anchorList:
    driver.get(url)
    time.sleep(2)
#     if url == 'https://github.com/ChatGPTNextWeb/ChatGPT-Next-Web' or url =='https://github.com/krahets/hello-algo':
#         countElement = driver.find_element(By.XPATH,'//*[@id="repo-content-pjax-container"]/div/div/div[2]/div[2]/div/div[4]/div/h2/a/span')
#         print(countElement)
#     else:
#         countElement = driver.find_element(By.XPATH,'//*[@id="repo-content-pjax-container"]/div/div/div[2]/div[2]/div/div[3]/div/h2/a/span')
#         print(countElement)
    
    try:
        countElement = driver.find_element(By.XPATH,'//*[@id="repo-content-pjax-container"]/div/div/div[2]/div[2]/div/div[3]/div/h2/a/span').text
        if countElement is None:
            countList.append('-')
        else:
            countList.append(countElement)
    except NoSuchElementException:
        try:
            countElement = driver.find_element(By.XPATH,'//*[@id="repo-content-pjax-container"]/div/div/div[2]/div[2]/div/div[4]/div/h2/a/span').text
            if countElement is None:
                countList.append('-')
            else:
                countList.append(countElement)
        except:
            countElement = driver.find_element(By.XPATH,'//*[@id="repo-content-pjax-container"]/div/div/div[2]/div[2]/div/div[5]/div/h2/a/span').text
            if countElement is None:
                countList.append('-')
            else:
                countList.append(countElement)

In [93]:
print(len(countList))

25

In [94]:
print(countList)

['4', '', '', '3', '163', '', '140', '', '', '', '2', '', '', '7', '', '', '151', '13', '', '7', '1', '', '9', '', '675']

In [95]:
max_lenth = max(len(titleList),len(descList),len(countList),len(LanguageList))
# max_lenth

titleList += ["-"] * (max_lenth - len(titleList))
descList += ["-"] * (max_lenth - len(descList))
countList += ["-"] * (max_lenth - len(countList))
LanguageList += ["-"] * (max_lenth - len(LanguageList))

In [96]:
data = {
    'Repository title':titleList,
    'Repository description':descList,
    'Contributors count':countList,
    'Language used':LanguageList
}

gitDf=pd.DataFrame(data=data)
gitDf

,Repository title,Repository description,Contributors count,Language used
0,karpathy / minbpe,"Minimal, clean, code for the Byte Pair Encodin...",4,Python
1,LargeWorldModel / LWM,1 min voice data can also be used to train a g...,,Python
2,RVC-Boss / GPT-SoVITS,"Official PyTorch Implementation of ""Scalable D...",,Python
3,facebookresearch / DiT,A cross-platform ChatGPT/Gemini UI (Web / PWA ...,3,Python
4,ChatGPTNextWeb / ChatGPT-Next-Web,zkSync era,163,TypeScript
...,...,...,...,...
70,-,-,-,-
71,-,-,-,-
72,-,-,-,-
73,-,-,-,-
74,-,-,-,-

QUESTION - 5

In [2]:
driver = webdriver.Chrome()
driver.maximize_window()
driver.get('https://www.billboard.com/')

chartsBtn = driver.find_element(By.XPATH,'/html/body/div[3]/header/div/div[2]/div/div/div[2]/div[2]/div/div/nav/ul/li[1]/a').click()
hotHundread = driver.find_element(By.XPATH,'/html/body/div[3]/main/div[2]/div[1]/div[1]/div/div/div[1]/div/div[2]/span/a').click()

In [3]:
rankElement = driver.find_elements(By.XPATH,'//div[@class="pmc-paywall"]/div/div/div/div[2]/div/ul/li[1]/span[1]')
songElement = driver.find_elements(By.XPATH,'//div[@class="pmc-paywall"]/div/div/div/div[2]/div/ul/li[4]/ul/li[1]/h3')
artistElement = driver.find_elements(By.XPATH,'//div[@class="pmc-paywall"]/div/div/div/div[2]/div/ul/li[4]/ul/li[1]/span')
lastWeekRankElement = driver.find_elements(By.XPATH,'//div[@class="pmc-paywall"]/div/div/div/div[2]/div/ul/li[4]/ul/li[4]/span')
peakRankElement = driver.find_elements(By.XPATH,'//div[@class="pmc-paywall"]/div/div/div/div[2]/div/ul/li[4]/ul/li[5]/span')
weeksOnRankElement = driver.find_elements(By.XPATH,'//div[@class="pmc-paywall"]/div/div/div/div[2]/div/ul/li[4]/ul/li[6]/span')

In [5]:
rankList = []
songNameList = []
artistNameList = []
lastWeekRankList = []
peakRankList = []
weeksOnRankList = []

In [7]:
for rank in rankElement:
    rankList.append(rank.text)
    
for song in songElement:
    songNameList.append(song.text)
    
for artist in artistElement:
    artistNameList.append(artist.text)

for lastWeekRank in lastWeekRankElement:
    lastWeekRankList.append(lastWeekRank.text)
    
for peakRank in peakRankElement:
    peakRankList.append(peakRank.text)
    
for weekRank in weeksOnRankElement:
    weeksOnRankList.append(weekRank.text)

In [9]:
data = {
    'rank':rankList,
    'song name':songNameList,
    'artist name':artistNameList,
    'last week rank':lastWeekRankList,
    'peak rank':peakRankList,
    'week rank':weeksOnRankList
}

billboardDataFrame = pd.DataFrame(data=data)
billboardDataFrame

,rank,song name,artist name,last week rank,peak rank,week rank
0,1,Lovin On Me,Jack Harlow,2,1,13
1,2,Lose Control,Teddy Swims,4,2,26
2,3,Beautiful Things,Benson Boone,8,3,3
3,4,Cruel Summer,Taylor Swift,3,1,40
4,5,Snooze,SZA,10,2,60
...,...,...,...,...,...,...
95,96,Worth It,Offset & Don Toliver,100,92,4
96,97,Northern Attitude,Noah Kahan With Hozier,97,37,10
97,98,Scared To Start,Michael Marcagi,-,98,1
98,99,First Love,Oscar Ortiz X Edgardo Nunez,91,91,3
99,100,Where It Ends,Bailey Zimmerman,-,32,7

QUESTION - 6

In [10]:
driver = webdriver.Chrome()
driver.maximize_window()
driver.get('https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare')

In [18]:
brankElement = driver.find_elements(By.XPATH,'//div[@class="embed block"]/table/tbody/tr/td[1]')
bTitleElement = driver.find_elements(By.XPATH,'//div[@class="embed block"]/table/tbody/tr/td[2]')
bauthorElement = driver.find_elements(By.XPATH,'//div[@class="embed block"]/table/tbody/tr/td[3]')
bVolSalesElement = driver.find_elements(By.XPATH,'//div[@class="embed block"]/table/tbody/tr/td[4]')
PublisherElement = driver.find_elements(By.XPATH,'//div[@class="embed block"]/table/tbody/tr/td[5]')
GenreElement = driver.find_elements(By.XPATH,'//div[@class="embed block"]/table/tbody/tr/td[6]')

In [21]:
rankList = []
titleList = []
authorList = []
volSalesList = []
publishList = []
genreList = []

In [22]:
for rank in brankElement:
    rankList.append(rank.text)

for title in bTitleElement:
    titleList.append(title.text)

for author in bauthorElement:
    authorList.append(author.text)

for salesVol in bVolSalesElement:
    volSalesList.append(salesVol.text)

for publish in PublisherElement:
    publishList.append(publish.text)

for genre in brankElement:
    genreList.append(genre.text)

In [23]:
data = {
    'rank':rankList,
    'title':titleList,
    'author':authorList,
    'vol sales':volSalesList,
    'publisher':publishList,
    'genre':genreList
}

bookDataFrame = pd.DataFrame(data=data)
bookDataFrame

,rank,title,author,vol sales,publisher,genre
0,1,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,1
1,2,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,2
2,3,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,3
3,4,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,4
4,5,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,5
...,...,...,...,...,...,...
95,96,"Ghost,The","Harris, Robert","807,311",Random House,96
96,97,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,97
97,98,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,98
98,99,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,99
99,100,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,100

QUESTION - 7

In [37]:
driver=webdriver.Chrome()
driver.maximize_window()
driver.get('https://www.imdb.com/search/title/?title_type=tv_series&sort=num_votes,desc')
viewDetailedBtn = driver.find_element(By.XPATH,'/html/body/div[2]/main/div[2]/div[3]/section/section/div/section/section/div[2]/div/section/div[2]/div[2]/div[1]/div[2]/div/button[1]').click()
time.sleep(3)

In [56]:
wait = WebDriverWait(driver,10)

btn = wait.until(EC.element_to_be_clickable((By.XPATH,'/html/body/div[2]/main/div[2]/div[3]/section/section/div/section/section/div[2]/div/section/div[2]/div[2]/div[2]/div/span')))
btn.click()
# moreBtn=driver.find_element(By.XPATH,'/html/body/div[2]/main/div[2]/div[3]/section/section/div/section/section/div[2]/div/section/div[2]/div[2]/div[2]/div/span')
# print(moreBtn.text)

In [68]:
nameElement = driver.find_elements(By.XPATH,'//div[@class="ipc-page-grid__item ipc-page-grid__item--span-2"]/ul/li/div/div/div/div[1]/div[2]/div[1]/a/h3')
yearSpanElement=driver.find_elements(By.XPATH,'//div[@class="ipc-page-grid__item ipc-page-grid__item--span-2"]/ul/li/div/div/div/div[1]/div[2]/div[2]/span[1]')
ratingElement = driver.find_elements(By.XPATH,'//div[@class="ipc-page-grid__item ipc-page-grid__item--span-2"]/ul/li/div/div/div/div[1]/div[2]/span/div/span')
votesElement = driver.find_elements(By.XPATH,'//div[@class="ipc-page-grid__item ipc-page-grid__item--span-2"]/ul/li/div/div/div/div[2]/div[2]')

In [69]:
print(len(nameElement),len(yearSpanElement),len(ratingElement),len(votesElement))

100 100 100 100

In [107]:
nameTvList = []
yearTvList = []
ratingTvList = []
votesTvlist = []

In [108]:
for nameTv in nameElement:
    nameTvSplit=nameTv.text[2:]
    nameTvList.append(nameTvSplit)
    
for yearTv in yearSpanElement:
    yearTvList.append(yearTv.text)
    
for ratingTv in ratingElement:
    rateingTvSplit=ratingTv.text[0:3]
    ratingTvList.append(rateingTvSplit)
    
for voteTv in votesElement:
    voteTvSplit=voteTv.text[5:]
    votesTvlist.append(voteTvSplit)

In [109]:
print(votesTvlist)

['2,258,171', '2,105,291', '1,317,361', '1,076,922', '1,069,952', '987,939', '859,679', '758,617', '723,164', '697,770', '639,112', '635,666', '634,902', '632,798', '631,826', '593,374', '589,468', '579,261', '574,982', '574,095', '564,276', '529,792', '529,111', '527,842', '525,613', '503,683', '499,915', '497,119', '478,264', '476,152', '470,898', '470,676', '464,780', '461,409', '444,524', '436,738', '432,522', '415,156', '414,634', '405,668', '402,895', '372,361', '371,714', '366,686', '362,526', '361,560', '358,939', '356,344', '355,438', '352,211', '352,110', '348,033', '347,485', '346,543', '345,998', '342,211', '340,895', '337,663', '337,523', '330,117', '322,148', '320,134', '318,382', '313,023', '309,956', '294,997', '290,098', '284,860', '279,756', '278,748', '278,505', '276,716', '273,750', '272,890', '271,731', '269,116', '263,026', '261,848', '261,789', '258,874', '258,748', '258,325', '256,012', '255,511', '255,070', '253,290', '250,455', '249,010', '246,752', '244,642', '243,371', '239,655', '235,696', '233,208', '225,468', '225,003', '224,154', '222,585', '221,916', '216,762']

In [110]:
data={
    'name':nameTvList,
    'year':yearTvList,
    'rating':ratingTvList,
    'votes':votesTvlist
}

tvShows = pd.DataFrame(data=data)
tvShows

                               name       year rating      votes
0                   Game of Thrones  2011–2019    9.2  2,258,171
1                      Breaking Bad  2008–2013    9.5  2,105,291
2                   Stranger Things  2016–2025    8.7  1,317,361
3                           Friends  1994–2004    8.9  1,076,922
4                  The Walking Dead  2010–2022    8.1  1,069,952
..                              ...        ...    ...        ...
95         . Agents of S.H.I.E.L.D.  2013–2020    7.5    225,003
96                      . One Piece      1999–    9.0    224,154
97                  . Downton Abbey  2010–2015    8.7    222,585
98                . Big Little Lies      2017–    8.4    221,916
99  0. The End of the F***ing World  2017–2019    8.0    216,762

[100 rows x 4 columns]

QUESTION - 8

In [113]:
driver=webdriver.Chrome()
driver.maximize_window()
driver.get('https://archive.ics.uci.edu/')

In [114]:
viewDatasets= driver.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[1]/div/div/div/a[1]').click()

In [116]:
datasetAnchor = driver.find_elements(By.XPATH,'//div[@class="flex flex-col gap-1"]/div[@role="row"]/div/div[2]/h2/a')
url_list=[]
for urlElement in datasetAnchor:
    url_list.append(urlElement.get_attribute('href'))

In [117]:
print(len(url_list))

10

In [159]:
Dname=[]
Dtype=[]
Dtask=[]
Dfeature=[]
Dnooffeature=[]
Dnoofinstance=[]
Dyear=[]

In [160]:
for url in url_list:
    driver.get(url)
    DatasetnameEle = driver.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[1]/div[1]/div[1]/div[2]/div/h1').text
    DtaskEle = driver.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[1]/div[1]/div[2]/div[2]/div[3]/p').text
    DfeatureEle = driver.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[1]/div[1]/div[2]/div[2]/div[4]/p').text
    DnoOfFeatureEle = driver.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[1]/div[1]/div[2]/div[2]/div[6]/p').text
    DnoOfinstanceEle = driver.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[1]/div[1]/div[2]/div[2]/div[5]/p').text
    wait = WebDriverWait(driver,5)
    try :
        DatasetYearEle = wait.until(EC.presence_of_element_located((By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[1]/div[1]/div[1]/div[2]/h2'))).text
    except:
        DatasetYearEle = 'abcdefghi-'
    #     print(DatasetYearEle)
        #     DatasetYearEle = driver.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[1]/div[1]/div[1]/div[2]/h2')
    DatasetTypeEle = driver.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[1]/div[1]/div[2]/div[2]/div[1]/p').text
    
    Dname.append(DatasetnameEle)
    Dtype.append(DatasetTypeEle)
    Dtask.append(DtaskEle)
    Dfeature.append(DfeatureEle)
    Dnooffeature.append(DnoOfFeatureEle)
    Dnoofinstance.append(DnoOfinstanceEle)
    Dyear.append(DatasetYearEle[11:])

In [161]:
print(Dyear)

['6/30/1988', '9/13/2020', '10/5/2019', '6/30/1988', '4/30/1996', '8/13/2023', '6/30/1991', '10/31/1995', '10/6/2009', '']

In [162]:
data = {
    'dataset name':Dname,
    'dataset year':Dyear,
    'dataset type':Dtype,
    'task':Dtask,
    'attribute type':Dfeature,
    'no. of attribute':Dnooffeature,
    'no. of instances':Dnoofinstance
}

dataSetDataFrame = pd.DataFrame(data=data)
dataSetDataFrame

,dataset name,dataset year,dataset type,task,attribute type,no. of attribute,no. of instances
0,Iris,6/30/1988,Tabular,Classification,Real,4,150
1,Dry Bean Dataset,9/13/2020,Multivariate,Classification,"Integer, Real",16,13611
2,Rice (Cammeo and Osmancik),10/5/2019,Multivariate,Classification,Real,7,3810
3,Heart Disease,6/30/1988,Multivariate,Classification,"Categorical, Integer, Real",13,303
4,Adult,4/30/1996,Multivariate,Classification,"Categorical, Integer",14,48842
5,Raisin,8/13/2023,Multivariate,Classification,"Real, Integer",7,900
6,Wine,6/30/1991,Tabular,Classification,"Integer, Real",13,178
7,Breast Cancer Wisconsin (Diagnostic),10/31/1995,Multivariate,Classification,Real,30,569
8,Wine Quality,10/6/2009,Multivariate,"Classification, Regression",Real,11,4898
9,Diabetes,,"Multivariate, Time-Series",Classification,"Categorical, Integer",20,1

:: Assignment - 4 COMPLETED ::